# 1. Grafika - Master siedzenia
SUBSYSTEM=="drm", KERNEL=="card[0-9]*", DRIVERS=="appletbdrm", TAG+="seat", TAG+="master-of-seat", ENV{ID_SEAT}="seat-touchbar"

# 2. Podświetlenie
SUBSYSTEM=="backlight", KERNEL=="appletb_backlight", TAG+="seat", ENV{ID_SEAT}="seat-touchbar"

# 3. Dotyk iBridge (T1) - KLUCZ DO SUKCESU
# Musimy wymusić, by libinput widział to jako ekran dotykowy (Touchscreen), 
# a nie gładzik (Touchpad), bo inaczej tiny-dfr go pominie i pójdzie szukać dalej.
SUBSYSTEM=="input", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="8600", TAG+="seat", ENV{ID_SEAT}="seat-touchbar", ENV{ID_INPUT_TOUCHPAD}="0", ENV{ID_INPUT_TOUCHSCREEN}="1"