[Unit]
Description=Tiny Apple T1 Touch Bar daemon
After=systemd-logind.service

[Service]
# Dodajemy zmienną, żeby widzieć błędy
Environment=RUST_BACKTRACE=1
ExecStart=/usr/bin/tiny-dfr --seat seat-touchbar
Restart=always
User=root

# Uproszczone zabezpieczenia - rezygnujemy z izolacji ścieżek na czas testu
ProtectSystem=full
ProtectHome=true
# Usuwamy PrivateDevices i BindReadOnlyPaths na chwilę
# PrivateDevices=yes
# DeviceAllow=/dev/dri/card2 rw
# DeviceAllow=char-input rw

[Install]
WantedBy=multi-user.target
